.login-form {
    max-width: 400px;
    margin: 0 auto;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form .form-group {
    margin-bottom: 20px;
}


.icon-color {
    color: #007bff
}


.connect-page {

    background-color: #fff; /* Couleur de fond spécifique à la page de connexion */

    color: white; /* Couleur du texte pour un meilleur contraste */

    min-height: 100vh; /* Assurez-vous que la page prend toute la hauteur de la fenêtre */

}

